*.o
*.a
*.o.d
*.exe
.stgit*
.deps
*.gcov
*~
*.rsc
*.IGC
*.dbf
*.shp
*.shx
\#*#
*.orig
*.rej
*.dll
*.log
*.dmp
*.so
*-WINE
*-WINE.exe.so
*-UNIX
*.dfPackage
*.tpr
*.tws
*.gcno
*.gcno.info
*.gcda
*.gcda.info
res-*.txt
gmon.out
gprof.out
doc/lcov
doc/cloc.txt
doc/doxygen/html
Test/test.exe
Test/test_mc.exe
Test/test_automc.exe
Test/test_trees.exe
Test/test_task.exe
Test/test_waypoints.exe
Test/test_flight.exe
Test/test_vopt.exe
Test/test_cruiseefficiency.exe
Test/test_bestcruisetrack.exe
