*.o
*.a
*.o.d
*.exe
.stgit*
.deps
*~
*.rsc
*.IGC
*.dbf
*.shp
*.shx
\#*#
*.orig
*.rej
*.dll
*.log
*.dmp
*.so
*-WINE
*-WINE.exe.so
*-UNIX
*.dfPackage
*.tpr
*.tws
res-*.txt
gmon.out
gprof.out
Test/test.exe
Test/test_mc.exe
Test/test_trees.exe
Test/test_task.exe
Test/test_waypoints.exe
Test/test_flight.exe
Test/test_vopt.exe
Test/test_cruiseefficiency.exe
