<TMPL_INCLUDE NAME="header.tmpl">

<p>
      The waypoint file you uploaded suggests that you need terrain
      data for the area with a lower-left corner of 
      (<tmpl_var name="left_formatted">,
      <tmpl_var name="bottom_formatted">)
      and an upper-right corner of
      (<tmpl_var name="right_formatted">,
      <tmpl_var name="top_formatted">).
    </p>
<p>
      If you use these values, some waypoints will be on the very edge
      of the terrain data.  If you wish to generate terrain that
      extends past the extreme waypoints, enter a value for the
      <em>border</em> below.  If you enter ``5 miles'' for the border
      value, every waypoint will have terrain data for at least five
      miles in every direction.
    </p>
<form method="post">
      <p>
        Border: <input name="border" value="5"> <tmpl_var name="distance_units"><tmpl_var name="err_border">
      </p>
      <p>
        <input type="checkbox" name="generate_waypoint_images" value="true"/>Generate Waypoint Images <strong>WARNING:</strong> Currently (Mar 26, 2009) the server that provides these images is down.  If you select this option before the server comes back online, your job will silently fail.
      </p>
      <p>
        <input type="checkbox" name="normalize_waypoint_images" value="true">Brighten Waypoint Images -- this usually makes the waypoint images much easier to see, often at the cost of color accuracy
      </p>
      <input type="hidden" name="rm" value="process_confirm_from_file">
      <input type="submit">
    </form>
<p>
      The data from the waypoint file you uploaded follows:
      <table>
	<tr>
	  <th>Title</th>
	  <th>Lat</th>
	  <th>Long</th>
	</tr>
	<tmpl_loop name="turnpoint_list">
	  <tr>
	    <td><tmpl_var name="title"></td>
	    <td><tmpl_var name="x"></td>
	    <td><tmpl_var name="y"></td>
	  </tr>
	</tmpl_loop>
      </table>
    </p>

<TMPL_INCLUDE NAME="footer.tmpl">

