<TMPL_INCLUDE NAME="header.tmpl">
<p><h1> Please note, terrain generation is currently offline, we are working to resolve this as soon as possible. </h1> </p>
<p>
      To get the most out of XCSoar, you will need to install several
      data files specific to your location.  This page will generate
      these files for you.
    </p>
<p>
      Generating these files involves sifting through about ten
      gigabytes of data.  Because this can take a while, this page
      will collect the information about your location it needs, along
      with your email address.  Then it will generate the terrain
      files and email you a download link when it is done, usually in
      ten to fifteen minutes.  For most users, the data for your
      location will only be one to ten megabytes.
    </p>
<form method="post">
    <table>
      <tr>
	<th>area name: </th>
	<td>
<input name="areaname"><tmpl_var name="err_areaname">
</td>
      </tr>
      <tr class="lineafter">
	<th></th>
	<td class="comment">
	  Enter a short name for the area you wish to generate.  This
	  will be used to create filenames, so keep it short and avoid
	  spaces and other weird characters.  For example,
	  <tt>newengland</tt> or <tt>south_africa</tt>.
	</td>
      </tr>
      <tr>
	<th>email address:</th>
	<td>
	  <input name="email"><tmpl_var name="err_email">
        </td>
      </tr>
      <tr class="lineafter">
	<th></th>
	<td class="comment">
	  We will send you a message at this address with the download
	  location when your terrain files are ready
	</td>
      </tr>
      <tr class="lineafter">
	<th>confirm address:</th>
	  <td>
<input name="email_confirm"><tmpl_var name="err_email_confirm">
</td>
      </tr>
      <tr>
	<th>units:</th>
	<td>
	  <input name="distance_units" type="radio" value="km" checked><strong>kilometers</strong>
	  <input name="distance_units" type="radio" value="sm"><strong>statute miles</strong><br>
	</td>
      </tr>
      <tr class="lineafter">
	<th></th>
	<td class="comment">
	  These units will be used when generating the terrain files,
	  but it will not effect what units are used in XCSoar
	</td>
      </tr>
      <tr class="lineafter">
	<th>selection method:</th>
	<td>
	  <table>
	    <tr>
	      <td><input name="selection_method" value="tx" type="radio"></td>
	      <td>
<strong>Turnpoint Exchange</strong> — <em>(implementation in progress, try it but don't be shocked if it's broken)</em> you select the turnpoint list you intend to use from the Worldwide Soaring Turnpoint Exchange.  Terrain will be generated for the area encompassing the turnpoints.</td>
	    </tr>
	    <tr>
	      <td><input name="selection_method" value="file" type="radio" checked></td>
	      <td>
<strong>Waypoint File</strong> — you upload a pre-existing waypoint file in Cambridge format.  Terrain will be generated for the area encompassing the turnpoints.</td>
	    </tr>
	    <tr>
	      <td><input name="selection_method" value="manual" type="radio"></td>
	      <td>
<strong>Manual</strong> — you specify the latitudes and longitudes of the area for which you want terrain to be generated.</td>
	    </tr>
	  </table>
	</td>
      </tr>
      <tr class="lineafter">
	<th>Format:</th>
	<td>
	  <input name="generate_xcm" type="radio" value="false"><strong>zip</strong>
	  <input name="generate_xcm" type="radio" value="true" checked><strong>XCM file</strong><br>
	</td>
      </tr>
      <tr class="lineafter">
    </table>
    <input type="hidden" name="rm" value="process_initial_form">
    <input type="submit">
  </form>

<TMPL_INCLUDE NAME="footer.tmpl">

