<TMPL_INCLUDE NAME="header.tmpl">

<p>
      You have selected the area with a lower-left corner of
      (<tmpl_var name="left_formatted">,
      <tmpl_var name="bottom_formatted">)
      and an upper-right corner of
      (<tmpl_var name="right_formatted">,
      <tmpl_var name="top_formatted">).  This describes an area
      <tmpl_var name="width_formatted"> wide and <tmpl_var name="height_formatted"> tall.
    </p>
<tmpl_var name="map_img_tag"><p>
      XCSoar's terrain data consists of two parts:
    </p>
<ul>
	<li>the elevation data, which is used to compute final glide over terrain and generate the shaded relief maps, and</li>
	<li>the vector topography data, which is used to display the roads, streams, towns, and other landmarks.</li>
      </ul>
<p>
      The vector data will be a few kilobytes to a few megabytes, depending on the amount of interesting features in the area you selected.  We can't estimate how large this data will be.
    </p>
<p>
      We can control the size of the digital elevation data, though.
      The raw data source gives three arc-second resolution, meaning
      the data points are approximately 90 meters apart.  This is
      probably more accuracy than you need.  The data can be
      down-sampled to reduce the file size significantly, while still
      retaining enough accuracy for display and final glide
      calculations.  I recommend choosing a resolution somewhere
      between 30 arc-seconds (one data point per kilometer) and 9
      arc-seconds (one data point every 270 meters).
    </p>
<p>
      One thing to keep in mind when choosing your dataset is that
      storing the terrain data on a slow flash card will cause very
      slow screen updates in XCSoar.  If possible, you will want to
      store the terrain data in your PDA's main memory for fastest
      access.  Some PDA/flash card combinations work well, so this may
      not be an issue for you.
    </p>
<form method="post">
      <table>
	<tr><td>
<input type="radio" name="resolution" value="3">3
	    arc-second, file size <tmpl_var name="3_as_size">
</td></tr>
	<tr><td>
<input type="radio" name="resolution" value="6">6
	    arc-second, file size <tmpl_var name="6_as_size">
</td></tr>
	<tr><td>
<input type="radio" name="resolution" value="9" checked>9
	    arc-second, file size <tmpl_var name="9_as_size">
</td></tr>
	<tr><td>
<input type="radio" name="resolution" value="10">10
	    arc-second, file size <tmpl_var name="10_as_size">
</td></tr>
	<tr><td>
<input type="radio" name="resolution" value="15">15
	    arc-second, file size <tmpl_var name="15_as_size">
</td></tr>
	<tr><td>
<input type="radio" name="resolution" value="20">20
	    arc-second, file size <tmpl_var name="20_as_size">
</td></tr>
	<tr><td>
<input type="radio" name="resolution" value="30">30
	    arc-second, file size <tmpl_var name="30_as_size">
</td></tr>
	<tr><td>
<input type="radio" name="resolution" value="45">45
	    arc-second, file size <tmpl_var name="45_as_size">
</td></tr>
      </table>
      <input type="hidden" name="rm" value="process_srtm_resolution_form">
      <input type="submit">
    </form>
<TMPL_INCLUDE NAME="footer.tmpl">
