<TMPL_INCLUDE NAME="header.tmpl">

<p>
      The following is a list of sites taken from the <em>Worldwide 
      Soaring Turnpoint Exchange</em>.  
      Select your site from the list below.  Unfortunately, this list
      isn't sorted geographically.  Use your browser's search function
      to find your site.  If you can't find your site in the list
      below, you will need to get the waypoint file by hand.  You can 
      try looking at the original Turnpoint Exchange site <a href="http://soaring.aerobatics.ws/TP">here</a>, or get it from other sources like your club's web site.  You will need to find the file in Cambridge “<tt>.dat</tt>” format.
    </p>
<p>
      <strong>Note:</strong> selecting a site below will download the
      current waypoint file from the Turnpoint Exchange.  This may take
      up to 90 seconds, especially if the primary site is down and we
      have to fall back to the mirror sites.
    </p>
<tmpl_loop name="data_by_country">
<tmpl_var name="country_link"> 
</tmpl_loop><form method="post">
<tmpl_loop name="data_by_country">
<p>
<tmpl_var name="country_target">
</p>
<ul>
<tmpl_loop name="sites">
<li><tmpl_var name="site_tag"></li>
</tmpl_loop>
</ul>
</tmpl_loop>
      <input type="hidden" name="site">
      <input type="hidden" name="rm" value="process_coords_from_tx">
      <input type="submit">
    </form>

<TMPL_INCLUDE NAME="footer.tmpl">

