[submodule "android/ioio"]
	path = android/ioio
	url = https://github.com/XCSoar/ioio.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "android/UsbSerial"]
	path = android/UsbSerial
	url = https://github.com/XCSoar/UsbSerial.git
