*.o
*.a
*.o.d
*.d
*.exe
.stgit*
.deps
*.gcov
*~
*.rsc
*.IGC
*.dbf
*.shp
*.shx
\#*#
*.orig
*.rej
*.dll
*.log
*.dmp
*.so
*-WINE
*-WINE.exe.so
*-UNIX
*.gcno
*.gcno.info
*.gcda
*.gcda.info
app_*.info
Doc/html/*
Doc/cloc.txt
output
