
results/res-*
.stgit*
.deps
*.gcov
*~
*.IGC
*.dbf
*.shp
*.shx
\#*#
*.orig
*.rej
*.log
*.dmp
*.so
*.gcno
*.gcno.info
*.gcda
*.gcda.info
app_*.info
Doc/html/*
Doc/cloc.txt
output
perf.data

debian/files
debian/stamp-*
debian/tmp
debian/*.substvars
debian/xcsoar

mapgen/data/*/*
mapgen/tmp/*
*.pyc