results/res-*
results/terrain.txt
.stgit*
.together/*
.deps
*.gcov
*~
*.IGC
*.dbf
*.shp
*.shx
\#*#
.#*
*.orig
*.rej
*.log
*.dmp
*.so
*.gcno
*.gcno.info
*.gcda
*.gcda.info
app_*.info
Doc/html/*
Doc/cloc.txt
output
perf.data
perf.data.old
debian/files
debian/stamp-*
debian/tmp
debian/*.substvars
debian/xcsoar
*.pyc
rasp/data
.#*
callgrind.out.*
tmp/
.gdbinit
test/data/private
/.project
/.cproject
