<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html"/>
  <head>
    <title>Generating Map ${name}</title>
    <script type="text/javascript">
      setTimeout(function() { location.href = '${url('/status')}?uuid=${uuid}'; }, 10000);
    </script>
  </head>
  <body>
    <div class="box">${name}: ${status}</div>
    <a class="button" href="${url('/status')}?uuid=${uuid}">Refresh</a>
  </body>
</html>
