<TMPL_INCLUDE NAME="header.tmpl">

<p>
      The terrain you generated is ready for download.
    </p>
<table>
      <tr>
	<th>area:</th>
	<td><tmpl_var name="area_name"></td>
      </tr>
      <tr>
	<th>filename:</th>
	<td><tmpl_var name="filename"></td>
      </tr>
      <tr>
	<th>file size:</th>
	<td><tmpl_var name="file_size"></td>
      </tr>
    </table>
<p>
      Click <tmpl_var name="anchor_tag_begin">here<tmpl_var name="anchor_tag_end"> to download.
    </p>
<p>
	  This would be a great place to link to the docs/wiki on what
	  to do after downloading the file: how to transfer to the PPC,
	  how to point XCSoar to the terrain/topo files.
	</p>

<TMPL_INCLUDE NAME="footer.tmpl">

