<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.xcsoar"
          android:versionCode="32"
          android:versionName="6.0.9">
  <application android:icon="@drawable/icon" android:label="@string/app_name"
               android:debuggable="true">
    <activity android:name=".XCSoar"
              android:label="@string/app_name"
              android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation"
              android:launchMode="singleInstance"
              android:screenOrientation="nosensor">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

  <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="9"/>
  <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
</manifest>
