[Unit]
Description=XCSoar Cloud Server
After=network.target

[Service]
ExecStart=/usr/sbin/xcsoar-cloud-server
User=xcsoar-cloud

[Install]
WantedBy=multi-user.target
