<TMPL_INCLUDE NAME="header.tmpl">

<tmpl_var name="err_main"><form method="POST">
    <table>
      <tr>
	<td>Top:</td>
	<td>
<input type="text" name="top_degrees" value="0" size="3">°<tmpl_var name="err_top_degrees"><input type="text" name="top_minutes" value="0" size="2">'<tmpl_var name="err_top_minutes"><input type="text" name="top_seconds" value="0" size="2">"<tmpl_var name="err_top_seconds"><select name="top_direction"><option selected value="N">N</option>
<option value="S">S</option></select>
</td>
      </tr>
      <tr>
	<td>Bottom:</td>
	<td>
<input type="text" name="bottom_degrees" value="0" size="3">°<tmpl_var name="err_bottom_degrees"><input type="text" name="bottom_minutes" value="0" size="2">'<tmpl_var name="err_bottom_minutes"><input type="text" name="bottom_seconds" value="0" size="2">"<tmpl_var name="err_bottom_seconds"><select name="bottom_direction"><option selected value="N">N</option>
<option value="S">S</option></select>
</td>
      </tr>
      <tr>
	<td>Left:</td>
	<td>
<input type="text" name="left_degrees" value="0" size="3">°<tmpl_var name="err_left_degrees"><input type="text" name="left_minutes" value="0" size="2">'<tmpl_var name="err_left_minutes"><input type="text" name="left_seconds" value="0" size="2">"<tmpl_var name="err_left_seconds"><select name="left_direction"><option selected value="W">W</option>
<option value="E">E</option></select>
</td>
      </tr>
      <tr>
	<td>Right:</td> 
	<td>
<input type="text" name="right_degrees" value="0" size="3">°<tmpl_var name="err_right_degrees"><input type="text" name="right_minutes" value="0" size="2">'<tmpl_var name="err_right_minutes"><input type="text" name="right_seconds" value="0" size="2">"<tmpl_var name="err_right_seconds"><select name="right_direction"><option selected value="W">W</option>
<option value="E">E</option></select>
</td>
      </tr>
    </table>
    <input type="hidden" name="rm" value="process_coords_from_user">
    <input type="submit" value="Submit">
  </form>

<TMPL_INCLUDE NAME="footer.tmpl">

