<TMPL_INCLUDE NAME="header.tmpl">

<p>
      Please upload your terrain file in Cambridge format.  
    </p>
<p>
      If you don't have a turnpoint file for your area, you might try
      downloading one from the 
      <a href="http://soaring.aerobatics.ws/TP">Worldwide
	Soaring Turnpoint Exchange</a>.  Find your turnpoint list,
      then click on the link next to "Files formatted for downloading
      and importing into your programs", and download one of the files
      labelled "Cambridge Aero Instruments".
    </p>
<p>
      You can also create your own waypoint file with software like
      SeeYou, or create it manually with a text editor.
    </p>
<tmpl_if name="waypoint_file_error"><p><span style="color:red;font-weight:bold"><span class="dfv_errors">* Error parsing waypoint file: <tmpl_var name="waypoint_file_error"></span></span></p></tmpl_if><form method="post" enctype="multipart/form-data">
      File: <input type="file" name="waypoint_file">
      <input type="hidden" name="rm" value="process_coords_from_file">
      <input type="submit">
  </form>

<TMPL_INCLUDE NAME="footer.tmpl">

