<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
        <title>XCSoar- Terrain Generator </title>
    <link rel="icon" href="/favicon.ico" type="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../style/style.css" />
</head>
<body>

<div id="wrapper-outer">

<div id="navigation">
  <ul>
    <li id="nav-home"><a href="/">Home</a></li>
    <li id="nav-docs"><a href="/get/">Get</a></li>
    <li id="nav-whatever"><a href="/use/">Use</a></li>
    <li id="nav-fun"><a href="/community/">Community</a></li>
    <li id="nav-whatever"><a href="/about/">About</a></li>

    </ul>
</div>

<div id="header">
        <img src="/logo-small.png" alt="XCSoar" />
        <h2>XCSoar - Terrain Generator </h2>
</div>

<div id="content">
