<TMPL_INCLUDE NAME="header.tmpl">

<p>
      Your request is being processed.  Terrain generation usually takes 
      ten to fifteen minutes to complete.  This page will update itself every
      minute with the status of your request, and you will be given a link
      to download your terrain once it is complete.
    </p>
<p>
      You will also get the download link mailed to you at the address 
      <em><tmpl_var name="email"></em>, so you can close this browser 
      window now if you don't want to wait.  The email will be sent from 
      the address <em><tmpl_var name="source_email"></em>.  If your email
      provider has strict spam controls, you may need to add this address
      to your address book to allow the message.
    </p>
<p>
	  Your status will progress from 'queued' to 'working' to
	  'completed', at which time you will be able to download 
	  the file.  This could be replaced with a progress bar at 
	  some point... 
	</p>
<table>
	  <tr>
	    <th>Current Status:</th>
	    <td><tmpl_var name="status"></td>
	  </tr>
	</table>

<TMPL_INCLUDE NAME="footer.tmpl">

