<h2>ScreenModes</h2>

	<p>Set the screen mode</p>
	<ul>
		<li>normal</li>
		<li>auxilary</li>
		<li>toggleauxiliary</li>
		<li>full</li>
		<li>togglefull</li>
		<li>toggle</li>
	<ul>

<h2>SnailTrail</h2>

	<p>Change snail trail setting</p>
	<ul>
		<li>off</li>
		<li>short</li>
		<li>long</li>
		<li>show</li>
	</ul>

<h2>Sounds</h2>

	<p>Change vario sounds</p>
	<ul>
		<li>toggle</li>
		<li>on</li>
		<li>off</li>
		<li>show</li>
	</ul>

<h2>MarkLocation</h2>

	<p>Mark a location</p>
	<ul>
		<li>(TODO) "*" - Text string to add to file</li>
	</ul>

<h2>Zoom</h2>

	<p>Everything about zoom of map</p>
	<ul>
		<li>auto toggle</li>
		<li>auto on</li>
		<li>auto off</li>
		<li>auto show</li>
		<li>in</li>
		<li>out</li>
		<li>+</li>
		<li>++</li>
		<li>-</li>
		<li>--</li>
		<li>"n.n" - a number</li>
	</ul>

<h2>Pan</h2>

	<p></p>
	<ul>
		<li></li>
	</ul>

<h2>ClearWarningsAndTerrain</h2>

	<p></p>
	<ul>
		<li>on - Turn pan on</li>
		<li>off - Turn pan off</li>
		<li>up - Pan up</li>
		<li>down - Pan down</li>
		<li>left - Pan left</li>
		<li>right - Pan right</li>
	</ul>

<h2>SelectInfoBox</h2>

	<p></p>
	<ul>
		<li>next</li>
		<li>previous</li>
	</ul>

<h2>ChangeInfoBoxType</h2>

	<p></p>
	<ul>
		<li>next</li>
		<li>previous</li>
	</ul>

<h2>DoInfoKey</h2>

	<p></p>
	<ul>
		<li>up</li>
		<li>down</li>
		<li>left</li>
		<li>right</li>
		<li>return</li>
	</ul>

<h2>MainMenu</h2>

	<p></p>
	<ul>
		<li></li>
	</ul>

<h2>Mode</h2>

	<p></p>
	<ul>
		<li>"*" - Specific string matching mode in config file</li>
	</ul>

<h2>Status</h2>

	<p></p>
	<ul>
		<li></li>
	</ul>

<h2>Analysis</h2>

	<p></p>
	<ul>
		<li></li>
	</ul>

<h2>WaypointDetails</h2>

	<p></p>
	<ul>
		<li></li>
	</ul>

<h2>StatusMessage</h2>

	<p></p>
	<ul>
		<li>"*" - Specific string to send to DoStatusMessage</li>
	</ul>

<h2>PlaySound</h2>

	<p></p>
	<ul>
		<li>"*" - String matching resource</li>
		<li>TODO "*" - String matching file</li>
	</ul>

<h2>AdjustMcCready</h2>

	<p></p>
	<ul>
		<li></li>
	</ul>

<h2>AdjustWind</h2>

	<p></p>
	<ul>
		<li></li>
	</ul>

<h2>AdjustVarioFilter</h2>

	<p></p>
	<ul>
		<li></li>
	</ul>

<h2>AdjustWaypoint</h2>

	<p></p>
	<ul>
		<li>up</li>
		<li>down</li>
		<li>left</li>
		<li>right</li>
	</ul>

<h2>AbortTask</h2>

	<p></p>
	<ul>
		<li>TODO toggle</li>
		<li>TODO abort</li>
		<li>TODO resume</li>
	</ul>

